{% extends 'base.html.twig' %}

{% block title 'Gestion des Accueillis' %}

{% block body %}
  <div class="container mt-4" >
    <center><h1>MENU PRINCIPAL</h1><br><br>
      <img src="image/emergence.png" class="img-fluid" >
      
    </center>
  </div>
{% endblock %}